{% extends 'base.html.twig' %}

{% block body %}
{{form_start(formpro1)}}
{{form_widget(formpro1)}}
<button type="submit" class="btn btn-light">Enregistrer</button>
{{form_end(formpro1)}}

{% endblock %}
